<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Vue App</title>
    <link href="https://webfonts.brand.ucsb.edu/webfont.min.css" rel="stylesheet">
  <script type="module" crossorigin src="/allSky.js"></script>
  <link rel="stylesheet" crossorigin href="/allSky.css">
</head>
<body>
    <div id="app"></div>
<!--    <script type="text/javascript" src="./src/utils/fits.js"></script>-->

</body>
<style>
    body {
        /*background-image: url("static/dist/assets/background_night-BD9R9T0_.png");*/
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
    }
</style>
</html>
